syntax: glob

**/.idea/*
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyles
*.iml

.gradle
.kotlin
classes
build/
*.log
/local.properties
/docs/api
/docs/modules
/docs/README.md
/docs/CHANGELOG.md
/site
