site_author: Oleg Yukhnevich
site_name: cryptography-kotlin
site_description: "Type-safe Multi-platform cryptography kotlin library"
site_url: https://whyoleg.github.io/cryptography-kotlin/

repo_name: cryptography-kotlin
repo_url: https://github.com/whyoleg/cryptography-kotlin
remote_branch: gh-pages

copyright: 'Copyright &copy; 2023 Oleg Yukhnevich'

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/why_oleg
    - icon: fontawesome/brands/telegram
      link: https://t.me/why_oleg
    - icon: fontawesome/brands/patreon
      link: https://patreon.com/why_oleg
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/whyoleg/

nav:
  - 'Overview':
      - index.md
      - 'Secure Random': modules/cryptography-random.md
      - 'Core primitives': modules/cryptography-core.md
      - 'BOM': bom.md
      - 'Gradle version catalog': gradle-version-catalog.md
  - 'Providers':
      - providers/index.md
      - 'JDK': modules/cryptography-jdk.md
      - 'WebCrypto': modules/cryptography-webcrypto.md
      - 'Apple': modules/cryptography-apple.md
      - 'OpenSSL3': modules/cryptography-openssl3.md
  - 'API': api/index.html

theme:
  name: 'material'
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: 'deep purple'
      accent: 'white'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: 'deep purple'
      accent: 'white'
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - toc.follow
    - content.code.copy

markdown_extensions:
  - smarty
  - tables
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - toc:
      permalink: true

plugins:
  - search
