name: Publish snapshot
on: [ workflow_call ]

concurrency:
  group: publish-snapshot
  cancel-in-progress: false

jobs:
  publish:
    if: github.repository == 'whyoleg/cryptography-kotlin'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Publish snapshot to Maven Central
        run: ./gradlew publishToMavenCentral -Pversion=0.6.0-SNAPSHOT
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{secrets.signingKey}}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{secrets.signingPassword}}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{secrets.mavenCentralUsername}}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{secrets.mavenCentralPassword}}
