name: Run default tests
on:
  workflow_dispatch:
  workflow_call:

jobs:
  default:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' ]
        target: [ 'jvmAll', 'js', 'wasm', 'native' ]
        include:
          - os: 'macos-latest'
            target: 'macos'
          - os: 'macos-latest'
            target: 'ios'
          - os: 'macos-latest'
            target: 'watchos'
          - os: 'macos-latest'
            target: 'tvos'
          - os: 'windows-latest'
            target: 'native'
          - os: 'ubuntu-latest'
            target: 'connectedAndroid'
            android-api-level: 21
          - os: 'ubuntu-latest'
            target: 'connectedAndroid'
            android-api-level: 27
          - os: 'ubuntu-latest'
            target: 'connectedAndroid'
            android-api-level: 33
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-gradle
        with:
          cache-read-only: true

      - if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          release: false
          install: mingw-w64-x86_64-openssl

      - name: Run tests
        if: ${{ matrix.target != 'connectedAndroid' && matrix.target != 'wasm' }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ${{ matrix.target }}Test --continue

      - name: Run tests (wasm)
        if: ${{ matrix.target == 'wasm' }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ${{ matrix.target }}Test --continue --max-workers=1

      - name: Run tests (android)
        if: ${{ matrix.target == 'connectedAndroid' }}
        uses: ./.github/actions/run-android-emulator-tests
        with:
          api-level: ${{ matrix.android-api-level }}
          test-reports-classifier: 'default'
          arguments: ${{ matrix.target }}Test --continue
